@using StudentHub.Web.ViewModels.Administration.Dashboard
@model AllCoursesListViewModel;

<h1>Hello from All Courses.</h1>

<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
    Create course
</button>
<table class="table table-bordered ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>

        @{
            int trCounter = 1;
            foreach (var item in Model.AllCoursesList)
            {
                <tr>
                    <th scope="row">@trCounter</th>
                    <td>@item.Name</td>
                    <td>
                        <form method="post" asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteCourse" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>

                trCounter += 1;
            }
        }
    </tbody>
</table>






<div class="modal" tabindex="-1" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer justify-content-center">

                <form asp-area="Administration" asp-controller="Dashboard" asp-action="CreateCourse" method="post" enctype="multipart/form-data col-">
                    <label asp-for="NameForCreate">Course name</label>
                    <input asp-for="NameForCreate" class="form-control" placeholder="Name" />
                    <span asp-validation-for="NameForCreate" class="text-danger"></span>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <input type="submit" class="btn btn-success">

                </form>

            </div>
        </div>
    </div>
</div>
















<script src="~/js/deleteCourse.js"></script>