@using StudentHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">

            <div id="main-carousel" class="carousel slide m-auto d-flex justify-content-center" data-ride="carousel">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner  w-75 h-50">
                    <div class="carousel-item active c-item">
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/OurSchool/Hibbing_High_School_2014.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item c-item">
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/OurSchool/homefb.png" alt="Second slide">
                    </div>
                    <div class="carousel-item c-item">
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/OurSchool/school-building-in-flat-style-modern-school-college-building-illustration-vector.jpg " alt="Third slide">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">StudentHub</h1>
            <p>В StudentHub вярваме, че комуникацията е ключът към успешното обучение. Нашата платформа улеснява връзката между учениците, учителите и родителите, осигурявайки прозрачност и ефективност във всеки аспект на учебния процес.</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Учете усърдно днес за едно по-добро утре! Нека всички заедно постигнем успех!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Новини</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>

            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">За нас</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Нашите учители</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="bg-dark text-white pt-4 pb-2">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-4 mb-md-0 text-center">
                <h5 class="text-uppercase">StudentHub</h5>
                <p>Улесняваме вашето обучение чрез иновативни технологии и удобен достъп до учебни ресурси.</p>
            </div>
            <div class="col-md-6 col-lg-6 mb-4 mb-md-0 text-center">
                <h5 class="text-uppercase">Следвайте ни</h5>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="mx-2">
                        <a href="https://facebook.com" class="text-white">
                            <i class="fab fa-facebook fa-lg"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://twitter.com" class="text-white">
                            <i class="fab fa-twitter fa-lg"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://instagram.com" class="text-white">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://linkedin.com" class="text-white">
                            <i class="fab fa-linkedin fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <p class="m-0">© 2024 StudentHub. Всички права запазени.</p>
    </div>
</footer>


@section Scripts {
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/startbootstrap-small-business-gh-pages/js/scripts.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

}

@section css {
    <link href="~/startbootstrap-small-business-gh-pages/css/styles.css" rel="stylesheet" />
  
    <!-- Font Awesome for social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

}